<html>
  <head>
    <title>이메일 인증 완료</title>
    <style>
      .container { display: flex; flex-direction: column; justify-content:
      center; align-items: center; height: 100vh; } h1, p { text-align:
      center;color: #4caf50; }
    </style>
  </head>
  <body>
    <div class='container'>
      <h1>이메일 인증 완료</h1>
      <p>이메일 인증을 성공했습니다. 프로기로 돌아가서 로그인 해 주세요</p>
    </div>
  </body>
</html>