<html>
  <head>
    <title>프로기 비밀번호 변경</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f2f2f2; }
      .container { max-width: 400px; margin: 0 auto; padding: 20px;
      background-color: #fff; border-radius: 5px; box-shadow: 0 0 10px rgba(0,
      0, 0, 0.1); } h1 { text-align: center; margin-bottom: 30px; } label {
      display: block; margin-bottom: 10px; color: #333; font-weight: bold; }
      input[type="password"] { width: 100%; padding: 10px; font-size: 16px;
      border: 1px solid #ccc; border-radius: 5px; } .error-container { display:
      none; background-color: #ffebeb; color: #ff4545; padding: 10px;
      margin-top: 10px; border-radius: 5px; } .submit-container { text-align:
      center; margin-top: 20px; } button { padding: 10px 20px; font-size: 16px;
      background-color: #4caf50; color: #fff; border: none; border-radius: 5px;
      cursor: pointer; }
    </style>
  </head>
  <body>
    <div class='container'>
      <h1>프로기 비밀번호 변경</h1>
      <form id='resetPasswordForm' >
        <label for='password'>새 비밀번호</label>
        <input type='password' id='password' name='password' required />
        <input type='hidden' id='hash' name='hash' value='{{hash}}' required />
        <div class='error-container' id='errorContainer'></div>
        <div class='submit-container'>
          <button type='submit'>비밀번호 변경하기</button>
        </div>
      </form>
    </div>
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        const passwordInput = document.getElementById('password');
        const form = document.getElementById('resetPasswordForm');
        const errorContainer = document.getElementById('errorContainer');

        form.addEventListener('submit', (event) => {
          const password = passwordInput.value;

          if (password.length < 8) {
            event.preventDefault();
            errorContainer.style.display = 'block';
            errorContainer.textContent = 'Password must be at least 8 characters long.';
          }else{
            submitForm(event);
          }
        });
      });

    function submitForm(event) {
      event.preventDefault();
      const backendUrl = "{{backendUrl}}";
      const tthash = "{{hash}}"
      console.log("backendUrl", backendUrl, tthash);
      const redirectToCompletePage = () => {
        window.location.href = `${backendUrl}/api/v1/auth/reset-password/complete`; 
      };
      const redirectToFailPage = () => {
        window.location.href = `${backendUrl}/api/v1/auth/reset-password/fail`;
      };

      const passwordInput = document.getElementById('password');
      const hashInput = document.getElementById('hash');

      const password = passwordInput.value;
      const hash = hashInput.value;

      const requestBody = {
        password: password,
        hash: hash
      };
      fetch('/api/v1/auth/reset-password', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
         },
        body: JSON.stringify(requestBody)
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.result) {
            redirectToCompletePage();
          } else {
            redirectToFailPage();
          }
        })
        .catch((error) => {
          console.error(error);
          redirectToFailPage();
        });
    }
  </script>
  </body>
</html>